# machine
NODE_ID=0
# NODE_ID=1

# c6620 nodes
NIC=enp23s0f0np0
NIC_PCI=0000:17:00.0
# MAC of enp23s0f0np0 of the other node (for dpdk to assign dest MAC when inter-node) 
# to check, unbind NIC from DPDK, then ip l
OTHER_NODE_MAC=40:a6:b7:c3:4b:78

# c6525-25g nodes (Mellanox NICs don't need to be bound to vfio-pci)
# NIC=enp65s0f0np0 
# NIC_PCI=0000:41:00.0

TMPDIR=/tmp
TEST=iperf
# TEST=sockperf

IPERF_CLIENT_OPTIONS="-P 4 -t 30"
# -P parallel streams
# -t seconds

# IPERF_CLIENT_OPTIONS="-u -b 2G -P 1 -l 1472"
# -l UDP payload length in bytes e.g. 64, 513, 1472, 8972
# 1500 - 20 (IP) - 8 (UDP) = 1472
# -b rate e.g. 10G=10Gbps, 1000M=1Gbps
# pps = bandwidth / (packet_size * 8) e.g. 2e9 / (1472 * 8) ≈ 170k pps

SOCKPERF_CLIENT_OPTIONS="-m 64 -t 30"
# -m message size in bytes
# -t seconds

ETH_RX_QUEUES=8
ETH_TX_QUEUES=8

# client
# ETH_RX_CORES=1
# ETH_TX_CORES=2
# VHOST_RX_CORES=3
# VHOST_TX_CORES=1

# server
# ETH_RX_CORES=2
# ETH_TX_CORES=1
# VHOST_RX_CORES=1
# VHOST_TX_CORES=3

# vm-vm-internal
ETH_RX_CORES=1
ETH_TX_CORES=1
VHOST_RX_CORES=2
VHOST_TX_CORES=3
