# machine
NODE_ID=0
# NODE_ID=1

# c6620 nodes
NIC=enp23s0f0np0
NIC_PCI=0000:17:00.0
# MAC of enp23s0f0np0 of the other node (for dpdk to assign dest MAC when inter-node) 
# to check, unbind NIC from DPDK, then ip l
OTHER_NODE_MAC=40:a6:b7:c3:4b:78

# c6525-25g nodes (Mellanox NICs don't need to be bound to vfio-pci)
# NIC=enp65s0f0np0 
# NIC_PCI=0000:41:00.0

TMPDIR=/tmp
TEST=iperf
# TEST=sockperf

ETH_RX_CORES=2
ETH_TX_CORES=2
VHOST_RX_CORES=3
VHOST_TX_CORES=3

# client
# ETH_RX_CORES=1
# ETH_TX_CORES=3
# VHOST_RX_CORES=5
# VHOST_TX_CORES=1

# server
# ETH_RX_CORES=3
# ETH_TX_CORES=1
# VHOST_RX_CORES=1
# VHOST_TX_CORES=5

# vm-vm-internal
# ETH_RX_CORES=1
# ETH_TX_CORES=1
# VHOST_RX_CORES=4
# VHOST_TX_CORES=4
TEST=iperf
# TEST=sockperf