# machine
NODE_ID=0
# NODE_ID=1

# c6620 nodes
NIC=enp23s0f0np0
NIC_PCI=0000:17:00.0

# c6525-25g nodes (Mellanox NICs don't need to be bound to vfio-pci)
# NIC=enp65s0f0np0 
# NIC_PCI=0000:41:00.0

TMPDIR=/tmp
