.cache
build
network-configs
netplans
user-datas
testing/results
logs
report*
__pycache__
bin
sbin
linuxrc
initramfs-overlay.img
.env
switch.log
perf.data*
*.png
*.log
*.pdf
*.raw
*.folded
*.svg
*.data
*.csv
.DS_Store